{% extends "index.html" %}

{% block search %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <span class="lead title">
            PYTUDI
        </span>
        <p class="subtitle">Từ Điển Trực Tuyến Anh - Việt - Anh</p>
        
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card border-info bg-light mb-3 content">
                <h5 class="card-header">
                    <div class="input-group">
                           
                        <input style="color: #DF7401" type="text" class="form-control" id="search_word_text"
                               placeholder="Nhập từ cần tra" required/>
                        <span class="input-group-btn">
                                <button class="btn btn-success" id="search_btn" title="Tra từ" type="button" >

                                <i class="fas fa-search"></i>
                                </button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-warning" title="Xóa kết quả tìm kiếm" id="clear_btn">
                            <i class="fas fa-eraser"></i>
                            </button>
                        </span>
                    </div>
                </h5>
                <div class="card-body message_area" id="message_area"></div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="text-center">
        <small>
            Developed with <a href="https://www.python.org/" title="Ngôn ngữ lập trình Python" target="_blank"><i class="fab fa-python"></i></a>
            by
            <a href="https://www.linkedin.com/in/%C4%91%E1%BA%AFc-to%C3%A0n-nguy%E1%BB%85n-a94b2a146/" title="Developer" target="_blank">Nguyen Dac Toan KMA</a> 2018
        </small>
    </div>
</footer>

<link rel="stylesheet" href="{{ url_for('static', filename='css/pytudi.css') }}">


{% endblock %}



